/* Start Globale Rules  */
:root {
  /* Colors */
  --violet-blue-crayola: hsla(234, 50%, 64%, 1);
  --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
  --white: hsla(0, 0%, 100%, 1);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --charcoal: hsla(218, 22%, 26%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --light-gray: hsla(0, 0%, 79%, 1);
  --blue-crayola: hsla(219, 72%, 56%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);

  /* Typography */
  --ff-manrope: "Manrope", sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + 0.66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;

  --fw-700: 700;

  /* Spacing */
  --section-padding: 90px;

  /* Shadow */
  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08),
    0 0 1.25rem hsla(216, 14%, 14%, 0.06);

  /* Border Radius */
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}

html {
  font-family: var(--ff-manrope);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 88%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 78%);
}

/* Container  */

.container {
  width: 100%;
  max-width: 1100px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 24px;
  box-sizing: border-box;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-inline: 32px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding-inline: 20px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 800px;
    padding-inline: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-inline: 20px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding-inline: 10px;
  }
}

/* End Globale Rules  */

/* Start Header  */

.header .container nav .nav-one {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  background-color: var(--raisin-black);
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  z-index: 2;
  transition: var(--transition-3);
  animation: slideIn 0.5s ease forwards;
  display: none;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.header .container nav .nav-one .navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container nav .nav-one .close {
  color: var(--white);
  font-size: 3rem;
  cursor: pointer;
}
.header .container nav .nav-one .navbar-list-one {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.header .container nav .nav-one .navbar-list-one .navbar-link {
  text-decoration: none;
  font-weight: var(--fw-700);
  padding-block: 6px;
  color: var(--white);
  transition: var(--transition-1);
}
.header .container nav .nav-one .wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.header .container nav .nav-one .wrapper .contact-link {
  text-decoration: none;
  color: var(--white);
  transition: var(--transition-1);
}
.header
  .container
  nav
  .nav-one
  .wrapper
  .contact-link:is(:hover, :focus-visible) {
  color: var(--violet-blue-crayola);
}
.header .container nav .nav-one .social-list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0;
  margin: 0;
}
.header .container nav .nav-one .social-list i {
  color: var(--white);
  transition: var(--transition-1);
}
.header .container nav .nav-one .social-list i:hover {
  transform: translateY(-4px);
}
.header .container .logo .logo-dark {
  display: none;
}
.header .container .bars {
  color: var(--white);
  font-size: 3rem;
  margin-left: 16px;
  cursor: pointer;
  display: none;
}
header {
  position: fixed;
  padding-block: 20px;
  box-shadow: var(--shadow-1);
  width: 100%;
  z-index: 4;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container nav .navbar-list-two {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header .container nav .navbar-list-two .navbar-link {
  text-decoration: none;
  font-weight: var(--fw-700);
  padding-block: 6px;
  margin-right: 30px;
  color: var(--white);
  transition: var(--transition-1);
}
.header .container nav .navbar-list-two .navbar-link:hover {
  opacity: 0.7;
}
.header .container nav .btn {
  display: block;
  text-decoration: none;
  padding: 8px 20px;
  background-color: var(--white);
  color: var(--charcoal);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--white);
  max-width: max-content;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  will-change: transform;
}
.header .container nav .btn:hover {
  transform: translateY(-4px);
}
@media (max-width: 991px) {
  .header .container nav .navbar-list-two {
    display: none;
  }
  .header .container nav .bars {
    display: block;
  }
}
@media (max-width: 768px) {
  .header .container nav .btn {
    display: none;
  }
}
/* End Header  */

/* Start Hero Section  */
.hero {
  padding-top: 60pxpx;
}
.hero .container {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero .container .hero-content .hero-title {
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1.3;
}
.hero .container .hero-content .hero-text {
  font-size: var(--fs-5);
  color: var(--white);
  margin-block: 24px 36px;
}
.hero .container .hero-content .btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.hero .container .hero-content .btn-wrapper .one {
  display: block;
  text-decoration: none;
  padding: 8px 20px;
  background-color: var(--white);
  color: var(--charcoal);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--white);
  max-width: max-content;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  cursor: pointer;
  will-change: transform;
}
.hero .container .hero-content .btn-wrapper .one:hover {
  transform: translateY(-4px);
}
.hero .container .hero-content .btn-wrapper .two {
  display: block;
  text-decoration: none;
  padding: 8px 20px;
  background-color: transparent;
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--white);
  max-width: max-content;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  cursor: pointer;
  will-change: transform;
}
.hero .container .hero-content .btn-wrapper .two:hover {
  transform: translateY(-4px);
  background-color: var(--white);
  color: var(--charcoal);
}

/* Slider  */
.hero .container .hero-slider {
  position: relative;
  width: 90%;
  justify-self: end;
  align-self: center;
  height: fit-content;
}
.hero .container .hero-slider .slide {
  width: 100%;
  display: none;
  border-radius: var(--radius-10);
}
.hero .container .hero-slider .active {
  display: block;
}
.hero .container .hero-slider button {
  position: absolute;
  background-color: var(--white_a70);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 12px;
  border: none;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  cursor: pointer;
}
.hero .container .hero-slider button:hover {
  background-color: var(--white);
}
.hero .container .hero-slider .one {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.hero .container .hero-slider .two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
/* Responsive */
@media (max-width: 997px) {
  .hero .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .hero .container .hero-content {
    text-align: center;
    align-items: center;
  }
  .hero .container .hero-slider {
    margin-inline: auto;
  }
}
.hero {
  position: relative;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 997px) {
  .hero {
    min-height: unset;
    height: auto;
    padding-top: 100px;
    padding-bottom: 40px;
    align-items: flex-start;
  }
  .hero .container {
    grid-template-columns: 1fr;
    gap: 30px;
    height: auto;
  }
  .hero .container .hero-slider {
    margin-inline: auto;
    width: 100%;
    max-width: 400px;
  }
}
/* End Hero Section  */

/* Start Services */
.services {
  padding-block: var(--section-padding);
}
.services .container {
  text-align: center;
}
.services .container p {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}
.services .container h2 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
  font-size: var(--fs-2);
}
.services .container .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}
.services .container .services-list .service {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}
.services .container .services-list .service .icon i {
  width: 60px;
  height: 60px;
  background-color: var(--violet-blue-crayola);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}
.services .container .services-list .service h3 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
  font-size: var(--fs-4);
}
.services .container .services-list .service p {
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}
.services .container .services-list .service a {
  text-decoration: none;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
}

/* End Services */

/* Start About */
.about {
  padding-block: var(--section-padding);
}
.about .container {
  text-align: center;
}
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 150px;
}
.about .container img {
  width: 500px;
}
@media (max-width: 997px) {
  .about .container img {
    max-width: 400px;
  }
}
@media (max-width: 859px) {
  .about .container img {
    max-width: 100%;
  }
}
.about .container .about-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.about .container .about-items .item {
  padding-bottom: 20px;
}
.about .container .about-items .item p {
  max-height: max-content;
  padding-inline-start: 30px;
  padding-block-end: 20px;
  text-align: start;
  display: none;
}
.about .container .about-items .p {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}
.about .container .about-items .h2 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
  font-size: var(--fs-2);
  text-align: start;
  padding-bottom: 40px;
}
.about .container .about-items .item button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.about .container .about-items .item button .active {
  transform: rotate(0.5turn);
}
.about .container .about-items .item .active {
  display: block;
}
.about .container .about-items .item button span {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
  font-size: var(--fs-6);
  transition: var(--transition-1);
}
.about .container .about-items .item button span.clicked {
  color: var(--violet-blue-crayola);
}
.about .container .about-items .item button span:hover {
  color: var(--violet-blue-crayola);
}
.about .container .about-items .item i {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}
/* End About */
